TIMETRACKING_URL=https://rotimetracking.emeal.XXXXXXX.com:4431/time/clockin
TIMETRACKING_USERNAME=XXXXXXX@emeal.XXXXXXX.com
TIMETRACKING_PASSWORD=XXXXXXX
NTFY_TOPIC=ttclock
HEADLESS_MODE=true
# PLAYWRIGHT_BROWSERS_PATH=/home/roc3/.cache/uv/archive-v0  # Uncomment to unify browser cache with uv
